language : php

php :
    - 7.0
    - 7.1
    - nightly

matrix:
  fast_finish: true
  allow_failures:
    - php: nightly

before_script:
  - composer selfupdate
  - composer install
  - composer dump-autoload -o

script:
    - vendor/bin/phpunit --strict-coverage --coverage-text --coverage-clover=coverage.clover

after_script:
    - wget https://scrutinizer-ci.com/ocular.phar
    - php ocular.phar code-coverage:upload --format=php-clover coverage.clover
